<?xml version="1.0" encoding="UTF-8"?>
<suite name="MyCol Front ">
    <parameter name="appURL" value="http://test.com/" />
    <parameter name="browserType" value="firefox" />

    <test name="CreateAnAccount">
        <classes>
            <class name="HomePageCheck" />
            <class name="TestDenemeler1" />
        </classes>
    </test>
</suite>